
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .input-box, .output-box, .error-box {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
  }
  
  .input-box input {
    padding: 10px;
    font-size: 16px;
    width: 90%;
    border-radius: 5px;
  }
  
  .error-box {
    border-color: rgb(10, 9, 9);
    color: rgb(248, 243, 243);
    background-color: rgb(128, 0, 32); 
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .output-box {
    border-color: green;
  }
  